@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-charcoal: #0b0d17;
  --color-indigo: #d0d6f9;
}

@layer base {
  body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: var(--color-charcoal);
    color: var(--color-indigo);
  }

  h2,
  h3,
  h4 {
    font-family: "Bellefair", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase;
  }

  p {
    @apply text-sm sm:text-base lg:text-lg;
  }
}
