@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-charcoal: #0b0d17;
  --color-indigo: #d0d6f9;
}

@layer base {
  body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: var(--color-charcoal);
    color: var(--color-indigo);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bellefair", serif;
  }
}
