@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-charcoal-900: #0b0d17;
  --color-charcoal-700: #383b4b;
  --color-indigo: #d0d6f9;
  --content-top-padding: 5.5rem;
  --content-side-padding: 6.4vw;
}

@media screen and (min-width: 640px) {
  :root {
    --content-top-padding: 8.5rem;
    --content-side-padding: 12.5vw;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --content-top-padding: 13rem;
    --content-side-padding: 10vw;
  }
}

@layer base {
  body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: var(--color-charcoal-900);
    color: var(--color-indigo);
  }

  h2,
  h3,
  h4 {
    font-family: "Bellefair", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply uppercase;
  }

  h1 {
    @apply tracking-widest sm:text-xl lg:text-2.5xl;
  }

  p {
    @apply text-sm sm:text-base lg:text-lg;
  }

  hr {
    @apply border-charcoal-700;
  }
}
